<h2 id="page-title">Add Listing</h2>

<div class="input-group input-group-lg">

  <form action="/add-listing" method="POST" <form class="form-horizontal">

    <div class="form-group form-group-lg">
      <label name="name">
        <input type="text"
          class="form-control input-lg"
            placeholder="Name: "
              name="name"
                aria-describedby="sizing-addon1"
        >
      </label>
      <br>
    </div>

    <div class="form-group">
      <label name="location">
        <select name="location" class="form-control input-lg">
          <br>
          <option value="default">Location</option>
          <option value="Jerusalem">Jerusalem</option>
          <option value="Tel-Aviv">Tel Aviv</option>
          <option value="Eilat">Eilat</option>
          <option value="Haifa">Haifa</option>
          <option value="Beer-Sheva">Beer-Sheva</option>
          <option value="North">North</option>
          <option value="Center">Center</option>
          <option value="South">South</option>
        </select>
      </label>
      <br>
    </div>

    <div class="form-group">
      <label name="website">
        <input type="text"
          class="form-control input-lg"
            placeholder="Website: "
              name="url"
                aria-describedby="sizing-addon1"
        >
      </label>
      <br>
    </div>

    <div class="form-group">
      <label name="img_url">
        <input type="text"
          class="form-control input-lg"
            placeholder="Image Link: "
              name="img_url"
                aria-describedby="sizing-addon1"
        >
      </label>
      <br>
    </div>

    <div class="form-group">
      <label name="item_category">
        <select name="item_category"
          class="form-control input-lg">
          <br>
          <option value="selection">Demographic</option>
          <option value="Everyone">Everyone</option>
          <option value="Family">Family</option>
          <option value="Adults">Adults</option>
          <option value="Kids">Kids</option>
          <option value="Seniors">Seniors</option>
        </select>
      </label>
      <br>
    </div>

    <div class="form-group">
      <label name="description">
        <textarea name="description"
          placeholder="Add a description"
            class="form-control input-lg">
          </textarea>
      </label>
      <br>
    </div>

    <div class="form-group">
      <label name="user_id">
        <input type="hidden"
          value="<%= @user.id %>"
            name="user_id"
              class="form-control"
        >
      </label>
    </div>

    <div class="form-group">
      <label name="submit">
        <input type="submit"
          value="Submit"
            class="btn btn-default"
      >
      </label>
    </div>

    </form>
  </div>
