<h2 id="page-title">Sign Up</h2>

<div class="input-group input-group-lg">
<form action="/signup" method="POST" <form class="form-horizontal">

  <div class="form-group form-group-lg">
    <label name="name"><input type="text" class="form-control input-lg" placeholder="Name: " name="name" aria-describedby="sizing-addon1"></label><br>
  </div>

  <div class="form-group">
    <label name="username"><input type="text" class="form-control input-lg" placeholder="Username: " name="username"></label><br>
  </div>

  <div class="form-group">
  <label name="email"><input type="email" class="form-control input-lg" placeholder="Email: " name="email" aria-describedby="sizing-addon1"></label><br>
  </div>

  <div class="form-group">
  <label name="password"><input type="password" class="form-control input-lg" placeholder="Password: " name="password" aria-describedby="sizing-addon1"></label><br>
  </div>

  <div class="form-group">
  <label name="submit"><input type="submit" value="Submit" class="btn btn-default"></label>
  </div>

  </form>
  </div>
