<h1 id="page-title">About</h1>

<p>
Yom Kef was born out of necessity.
<p>
After creating and recreating activity spreadsheets for each time my family and I traveled to Israel, I knew it was time for something better. I needed a way to easily save my favorite things to do and discover new things for the next trip. This application needed to be easy to use and allow me to organize activities by demographic category, because even if you're going to Israel with your kids, it's nice to have a date night!
<p>
As a current student in the immersve online coding bootcamp at the <a href="https://flatironschool.com/" target="_blank">Flatiron School</a>, I have been fortunate to gain new programming skills to help make this application a reality. Out of both the necessity and the newfound coding abilities, <em>Yom Kef: Your Fun Day In Israel was born.</em>
<p>
Yom Kef is entirely user generated and crowd sourced. There are many ways to find things to do in Israel, but there is something extra special about knowing someone took the time to add the listing her or himself, because it really was that great of an experience. When you go to Israel on a trip your time is limited and you want to make sure that what you are thinking of doing was recommended by someone who has been there, done it and loved it. Because it is user generated, Yom Kef needs you! Adding a listing is quick and easy and should not take more than a minute or two.
<p>
I hope you enjoy Yom Kef and recommend it to your friends and family. The more people use it, the more helpful it will be! Please do not hesitate to <a href="/contact">reach out to me</a> with comments or suggestions.
<p>
Have fun exploring!
<br>
<span id="signature"><em>Rabbi Ben Greenberg</em></span>
