<h1 id="page-title">Contact</h1>

<p>
I'd love to hear from you. Please get in touch through one of the following:
<p>

<a href="https://www.facebook.com/RabbiBenGreenberg/"
  target="_blank">
    <img src="/images/facebook-icon.png">
</a>

<a href="https://twitter.com/RabbiGreenberg"
  target="_blank">
    <img src="/images/twitter-icon.png">
</a>

<a href="https://www.linkedin.com/in/rabbigreenberg/"
  target="_blank">
    <img src="/images/linkedin-icon.png">
</a>
