<div class="container">

  <div class="row">

    <div class="col-md-6">

      <h4 id="page-title">
        Thinking about what to do on your next trip to Israel?
      </h4>

      <h4>
        <em>
          Can't find that activities list you wrote by hand the last time you went two years ago? ...
          <br>
          Curious about what new things people are recommending? ...
          <br>
          First time going <strong>with</strong> kids and you have no idea what there is to do? ...
          <br>
          First time going <strong>without</strong> kids and you have no idea what there is to do?
        </em>
      </h4>

      <br>

    </div>

  <div class="row">

    <div class="col-md-6">

      <h5 id="page-title">
        Yom Kef is a crowd sourced resource for you in Israel!
      </h5>

      <h4>
        <em>
          <a href="/listings/all-listings">Browse the listings</a> created by other people from around the world.
          <br>
          <a href="/registrations/signup">Register as a member</a> to save those listings to your own profile so you don't ever lose that list again!
          <br>
          Had a great time somewhere? <a href="/sessions/add-listing">Add it to the listings yourself</a> and help others just like you trying to figure out what to do on their next trip.
        </em>
      </h4>
    </div>
  </div>

  </div>
</div>
